{% extends 'base.html'%}
{% block content %}
<div class="container">
  <h1>Players Table</h1>
<div>
  {% for club in clubs %}
  <a href="{% url 'main:club_list' club.name %}">
    <img src="{{club.logo.url}}" width="30" alt="">
    {{club.name}}
  </a>
  {% endfor %}
</div>
<br>
<div class="player">
    {% for object in page_obj %}
  <div class="one">
        <div>
          <a href="{% url 'main:player_detail' object.slug %}">
          <img src="{{object.image.url}}" alt="{{object.name}}" width="100">
          </a>
        </div>
        <div>{{object.name}}</div>
        <div>{{object.country}}</div>
        <div>{{object.club}}</div>
        <div>{{object.age}}</div>
        <div>{{object.rating}}</div>
    </div>
    {% endfor%}
  </div>
</div>
<div class="pagination">
  <span class="step-links">
      {% if page_obj.has_previous %}
          <a href="?page=1">&laquo; first</a>
          <a href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          {% for page in page_obj.paginator.page_range %}
          <a href="?page={{page}}" 
          style='{% if page == page_obj.number %}background-color:khaki;{% endif %}'>{{page}}</a>
          {% endfor %}

      <span class="current">
        <span >
          {{ page_obj.number }}
        </span>
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">next</a>
          <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
      {% endif %}
  </span>
</div>
</div>
{% endblock %}

